{%extends 'inventory/base.html'%}
   
    {%block content%}

 
   
 
 <div id="main">

    {%for product in products%}
   

            
          
        <div class="container" id="items-container">
          
                            <a  href="{% url 'product-detail' product.pk %}">

            <div id="image-part">

                <img src="{{ product.p_image.url }}" alt="Product here" width="185" height="185" >
                </a>
            </div>
            <div id="name">
            
                <p>{{product.p_name}}</p>
            
             
            </div>
    
         
            <div id="price" style="font-size: medium;">
                <p>KSh {{product.p_price}} </p>
             
            </div>
    
            <div id="price">
                  <p>{{product.p_stock}} items left</p>
            </div>
            
            <div id="cart">
                  <button class="btn btn-warning">Add to cart</button>
           
               </div>  
    

       
        </div>
 
 

     
    

  
   
        
        
       
     
  


        {%endfor %}
    
</div> 


       
 
    {%endblock%}
