{%extends 'inventory/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
  <div id="reg">

    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh; ">
      <form method="post" class="card p-4 shadow" style="min-width: 300px;" enctype="multipart/form-data" >
          {% csrf_token %}
          <h2 class="text-center mb-3">Edit-item</h2>
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary w-100">Done</button>
          <a class="btn btn-danger w-100" type="button" href="{% url 'dashboard' %}">Cancel</a>
        
      </form>
  </div>
  </div>

{%endblock%}